.containerlec{
  display: grid;
  grid-gap:2em;
  grid-template-columns: 1fr 2fr 3fr;
  margin-top: 2rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  text-decoration-style: none;
}
.containerlec div:nth child(odd){
  background: #eee;

}
.containerlec div{
  background: :#ddd;
  text-decoration-style: none;
}
.border{
  border-style: solid;
    border-color: grey;
    padding-top: 1rem;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
}
#display{
  padding-top: 50px;
  min-height: 500px;
  background: url('./img/watercolor3.jpg') no-repeat 0 -500px;
  background-size: cover;
  text-align: center;
  color:#17202A ;
}
#display h1{
  margin-top: 150px;
  font-size: 55px;
}
.container{
  width:80%;
  overflow: hidden;
  margin: auto;
}
header{
  background: #FDFEFE;
  color: #C5E1A5;
  padding-top: 30px;
  min-height: 60px;
  border-bottom: #17202A 5px solid;
  top:0;
  position: fixed;
  width:100%;

}

header a{
  color: #17202A;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 15px
}
header ul{
  margin: 0;
  padding: 0;
}
header li{
  float: left;
  display: inline;
  padding:10px 10px 10px 10px;
}

header nav{
  margin-left: 100px
}

footer{
  background: #FAE5D3;
  padding: 0px 0px;
  height: 150px;
  margin-top: auto;
}
.containerforfooter{
  max-width: 1500px;
  margin: auto;
  padding: 0px 400px;
  display: flex;
  align-items: center;
}
.right-texts {
    padding-top: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 13px;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}
#footertext{
  padding-right:45px;
}

.containerlec a:link{color: #000079;}
.containerlec a:visited{color:  #921AFF;}
.containerlec a:hover{color: #DDDDFF;}
.containerlec a:active{color: green;}





/* for phone */
@media only screen and (max-width: 992px) {
  .right-texts {
    padding-top: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 13px;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
  }
}